.App {
  text-align: center;
}

.main {
  /* background-color:  #333333; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

.splitContainer {
  display: flex;
  flex: 1;
  flex-direction: row;
}

.split {
  display: flex;
  flex: 1;
  justify-content: center;
}
